header {
  color: rgb(66, 30, 133);
  text-align: center;
}

.weather-box-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-box {
  text-align: left;
  display: block;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ace0f9 0%, #fff1eb 100%);
}

.current-location {
  color: rgb(70, 12, 83);
  font-weight: 600;
  background-image: linear-gradient(to right, #fff9f7 0%, #f2fbff 100%);
  border: 1px solid rgb(62, 10, 129);
  border-radius: 5%;
  padding: 4px;
}

.entered-city {
  font-size: 30px;
}

.weather-icon {
  width: 100px;
}

.found-temperature {
  font-size: 70px;
}
.detailed-info {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results-of-forecast {
  color: rgb(83, 83, 83);
  font-size: 20px;
}

.open-soure-link {
  text-align: left;
  margin: auto;
}
