body {
  background-image: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
}

.weather-box {
  text-align: left;
  display: block;
}

.title-weather-widget {
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 78);
}

.current-location {
  color: blueviolet;
  font-weight: 200;
  background: yellow;
}

.entered-city {
  font-size: 36px;
}

.col {
  color: rgb(83, 83, 83);
  text-decoration: underline;
  font-size: 40px;
}
